/* Vos customisations des classes de Bootstrap */




/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

/*Header*/

.header {
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1% 0 1% 0;
}

.menu {
	/*border: 3px solid red;*/
	width: 15%;
	display: flex;
	justify-content: space-between;
}

.menu a:link, .menu a:visited {
	color: grey;
	text-decoration: none;
}

/*Home*/

#home {
	/*border: 3px solid red;*/
	text-align: center;
	background-image: url(../images/hero-image.jpg);
	background-repeat: no-repeat;
	margin-top: -3%;
	padding: 4% 0 3% 0; 
	color: white;
}

.text {
	/*border: 2px solid blue;*/
	width: 54%;
	margin-left: 23%;
}

h1.display-4 {
	font-size: 58px;
	font-family: arvo;
}

p.lead {
	font-size: 16px;
}

#home a:link, #home a:visited {
	color: white;
	font-size: 
}

#hide {
	visibility: hidden;
}

/*Who*/

#who {
	text-align: center;
	width: 54%;
	margin: 3% 0 2% 23%;
	font-size: 14px;
}

h2 {
	color: #d9534f;
}

hr#whi {
	color: #d9534f;
	width: 16%;
}

/*Get Involved*/

#get-involved {
	display: flex;
	flex-direction: column;
	background-color: #F4F2E7;
	padding-bottom: 2%;
}

.h2 {
	justify-content: center;
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 68%;
}

h3 {
	color: #d9534f;
}

hr#whb {
	width: 9%;
}

/*Footer*/

footer {
	background-color: #d9534f;
	padding: 10% 0 2% 20%;
}